.container {
  height: 160px;
  margin: 0 auto;
}

.rings {
  transform: scaleX(0.45) scaleY(0.45) translateX(-12%);
}

.rings li {
  border-radius: 17.8px;
  font-size: 17.8px;
  width: 213.6px; /* 12em */
  height: 213.6px;
  margin-left: 17.8px;
  margin-top: 17.8px;
  position: absolute;
}

.rings li::before,
.rings li::after {
  border-radius: 50%;
  position: absolute;
}

.rings li::before {
  content: "";
  top: -5.34px; /* -0.3em */
  bottom: -5.34px;
  left: -5.34px;
  right: -5.34px;
  border: 30.26px solid white; /* 1.7em */
  z-index: -1;
}

.rings li::after {
  border: 20.47px solid #000; /* 1.15em */
  bottom: 0;
  content: "";
  left: -1.78px; /* -0.1em */
  right: -1.78px;
  top: -1.78px;
}

.rings .blue {
  left: 0;
  top: 0;
  z-index: 10;
}
.rings.overrideColor li::after {
  border: 20.47px solid var(--ring-color) !important; /* 1.15em */
}

.rings .blue::before {
  border: none;
  border-right: 8.9px solid white; /* 0.5em */
}

.rings .blue::after {
  border-color: #0080cb;
}

.rings .blue + .chain {
  z-index: 24;
}

.rings .blue + .chain::before,
.rings .blue + .chain::after {
  border-bottom-color: transparent;
}

.rings .yellow {
  left: 121.04px; /* 6.8em */
  top: 101.46px; /* 5.7em */
  z-index: 20;
}

.rings .yellow::after {
  border-color: #fdb408;
}

.rings .yellow + .chain {
  z-index: 23;
}

.rings .yellow + .chain::before,
.rings .yellow + .chain::after {
  border-right-color: transparent;
}

.rings .black {
  left: 242.08px; /* 13.6em */
  top: 0;
  z-index: 21;
}

.rings .black::after {
  border-color: #000;
}

.rings .green {
  left: 363.12px; /* 20.4em */
  top: 101.46px; /* 5.7em */
  z-index: 20;
}

.rings .green::after {
  border-color: #00a84c;
}

.rings .green + .chain {
  z-index: 23;
}

.rings .green + .chain::before,
.rings .green + .chain::after {
  border-top-color: transparent;
}

.rings .red {
  left: 484.16px; /* 27.2em */
  top: 0;
  z-index: 10;
}

.rings .red::after {
  border-color: #f02c49;
}

.rings .red + .chain {
  z-index: 23;
}

.rings .red + .chain::before,
.rings .red + .chain::after {
  border-left-color: transparent;
}
